.wrapper {
    display: grid;
    grid-row-gap:15px;
    grid-column-gap:20px;
    grid-template-columns: repeat(4, [col] 250px ) ;
    grid-template-rows: repeat(3, [row] auto  );
    max-width: 1000px;
    margin: auto;
}

.a img {
    max-width:100%;  
}

form {
    margin-left:420px;
    margin-bottom: 20px;
}

input {
height: 30px;
width: 630px;
border-color: lightgrey;
border-radius: 7px;
text-indent: 5px;
}