
.gallery {
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(1, [col] 300px ) ;
    grid-template-rows: repeat(12, [row] auto );
    margin-left: 25%;
}

form {
    margin-left:10%;
    margin-bottom: 20px;
}

input {
height: 40px;
width: 330px;
margin-top: 20px;
border-color: lightgrey;
border-radius: 7px;
text-indent: 5px;
}

@media (min-width:768px) {
    .gallery {
    display: grid;
    grid-template-columns: repeat(2, [col] 250px ) ;
    grid-template-rows: repeat(6, [row] auto );
    margin-left: 20%;
    }

    form {
        margin-left:20%;
        margin-bottom: 20px;
    }
    
    input {
    height: 40px;
    width: 455px;
    margin-top: 20px;
    border-color: lightgrey;
    border-radius: 7px;
    text-indent: 5px;
    }

} 

@media (min-width:1024px) {

        .gallery {
        display: grid;
        grid-template-columns: repeat(4, [col] 250px ) ;
        grid-template-rows: repeat(3, [row] auto );
        margin-left:3%;
        }

        form {
            margin-left:16%;
            margin-bottom: 20px;
        }
        
        input {
        height: 40px;
        width: 655px;
        margin-top: 20px;
        border-color: lightgrey;
        border-radius: 7px;
        text-indent: 5px;
        }
}

@media (min-width:1440px) {
    .gallery {
    display: grid;
    grid-template-columns: repeat(4, [col] 250px ) ;
    grid-template-rows: repeat(3, [row] auto );
    margin-left:15%;
    }

    form {
        margin-left:26%;
        margin-bottom: 20px;
    }
    
    input {
    height: 40px;
    width: 655px;
    margin-top: 20px;
    border-color: lightgrey;
    border-radius: 7px;
    text-indent: 5px;
    }
}